
name: CI/CD Setup!!

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14' // chaanged the node version
      -run: npm install
      -run: npm run build
      -run: npm run deploy
